.cadastroEvento-container {
    margin-top: 40px;
    width: 100%;
    justify-self: center;
    max-width: 550px;
    margin: 20px;
    background-color: #242424;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px;
    font-family: sans-serif;
}

.cadastroEvento-container h2 {
    margin-bottom: 20px;
    color: floralwhite;
    font-size: 24px;
    text-align: center;
}

.cadastroEvento-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    
}

.cadastroEvento-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #d89cfa;
    font-size: 16px;
}

.cadastroEvento-container input {
    padding: 8px;
    border: 2px solid #d89cfa;
    border-radius: 5px;
    font-size: 14px;
}

.botoes {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-salvar {
    background-color: #763e97;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: floralwhite;
}

.btn-salvar:hover {
    background-color: #6f00af;
}