.evento-main {
    background-color: #142844;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.evento-main h3 {
    margin-bottom: 15px;
    color: #FFC82D;
}

.evento-main:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.evento-main p {
    color: floralwhite;
}