.evento-main {
    background-color: #2b2a2a;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.evento-main h3 {
    margin-bottom: 15px;
    color: #d89cfa;
}

.evento-main:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}