.main-footer {
    background-color: #1a1a1a;
    color: floralwhite;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}