.main-footer {
    background-color: #1a1a1a;
    color: floralwhite;
    padding: 15px;
    text-align: center;
    bottom: 0;
    position: fixed;
    left: 0; 
    width: 100%; 
    height: 50px;
    z-index: 1000;
}