header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh; 
  background-color: #1C375C; 
  color: floralwhite;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2); 
  padding: 20px 0;
  font-weight: bold;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

header h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 30px;
    padding: 0 10px;
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    text-decoration: none;
    color: floralwhite;   
    padding: 10px 15px;
    width: 100%; 
    text-align: left; 
    box-sizing: border-box; 
    font-size: 1.4em;
  }

header a:hover {
    background-color: #2a5286; 
    text-decoration: none;
}

.login-header {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 0 20px;
}

.btn-login-header {
  background-color: #142844;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: floralwhite; 
  padding: 10px 15px; 
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}