header {
    width: 100%;                        
    background-color: #763e97;          
    color: white;                       
    padding: 20px 0;                    
    font-size: 1.6em;                   
    font-weight: bold;                  
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); 
    
  }

  