header {
    width: 100%;                        
    background-color: #1C375C;          
    color: floralwhite;                       
    padding: 20px 0;                    
    font-size: 1.6em;                   
    font-weight: bold;                  
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); 
  }

  header a {
    text-decoration: none;
    color: floralwhite;
  }

  header a:hover {
    text-decoration: underline;
  }