.main-home {
    background-color: #242424;
    color: floralwhite;
    padding: 20px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
}

.main-home p {
    margin-top: 18px;
    font-size: 16px;
}