.main-home {
    background-color: #122238;
    color: #FFFFFF;
    padding: 20px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
}

.main-home p {
    color: floralwhite;
    margin-top: 18px;
    font-size: 16px;
}

.main-home h1 {
    color:#FFC82D;
}