.main-sobre {
    background-color: #122238;
    color: floralwhite;
    padding: 20px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
}

.main-sobre h1 {
    color: #FFC82D;
    margin-bottom: 30px;
}

.main-sobre p {
    line-height: 1.6;
    margin-bottom: 15px;
}